@media only screen and (max-width: 600px) {

    .alert-heading{
        margin-top: 75px;
        font-size: 18px;
    }
    img.logo{
        width: 200px!important;
        height: 200px!important;
        margin: 150px auto 25px !important;
    }
    h4{
        font-size: 14px;
    }

    p{
        text-align: center;
        margin: 5%;
        font-size: 11px;
    }
    .btn-primary{
        width: 250px;
        margin:2% 5% !important;

    }
    .main-logo{
        margin: 8%!important;
    }
}


    .alert-heading{
        margin-top: 25px!important;
    }

.steps-heading{
    text-align: left;
    font-weight: 600;
}
.bold-heading{
 margin: 20px 0px;
}
.main-logo{
margin: 5%;
}

.desclimer{
    text-align: center;
    margin-top: 5%;
}
/*Social Media*/
.fa {
    font-size: 23px !important;
    padding: 8px 14px 10px 15px;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 5px;
}


.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
}

.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-instagram {
    background: #E4405F;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
